<%- include("partials/header") -%>

    <h2>About</h2>
    <p>This is a simple ToDo Application in which user can jot down their daily goals, and keep a track of it. Users can even check or uncheck the tasks.
    </p>

<%- include("partials/footer") -%>